trigger: none

schedules:
  - cron: "0 7 * * *"
    displayName: Daily Test Run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self
    displayName: 'Checkout repository'

  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: npm install
    displayName: 'Install dependencies'

  - script: npx playwright install chromium
    displayName: 'Install Playwright Chromium'

  - script: |
      echo BASE_URL='https://staging.stg.qllaborate.com' >> .env
      echo USERNAME_ADMIN='$(USERNAME_ADMIN)' >> .env
      echo EMAIL='$(EMAIL)' >> .env
      echo PASSWORD_ADMIN='$(PASSWORD_ADMIN)' >> .env
      echo TENANT1='$(TENANT1)' >> .env
      echo TESTOMATIO='$(TESTOMATIO)' >> .env
    displayName: 'Create .env file with secrets'

  - script: npm run chromium
    displayName: 'Run Playwright tests (Chromium)'
