trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  displayName: 'Checkout Repo'

- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'


- task: JavaToolInstaller@0
  inputs:
    versionSpec: '1.8'
    jdkArchitectureOption: 'x64'
  displayName: 'Install Java 8'

- script: npm install
  displayName: 'Install NPM dependencies'

- script: npx playwright install
  displayName: 'Install Playwright browsers'

- script: |
    echo BASE_URL='https://qdtstaging.dooblo.net' >> .env
    echo USERNAME_ADMIN='$(USERNAME_ADMIN)' >> .env
    echo PASSWORD_ADMIN='$(PASSWORD_ADMIN)' >> .env
    echo TENANT1='$(TENANT1)' >> .env
  displayName: 'Create .env file'

- script: npm run chromium
  displayName: 'Run Playwright tests'

- task: PublishPipelineArtifact@1
  condition: succeededOrFailed()
  inputs:
    targetPath: 'allure-report'
    artifact: 'allure-report'
  displayName: 'Publish Allure report'
