trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self
    displayName: 'Checkout Repo'

  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: npm install
    displayName: 'Install NPM dependencies'

  - script: npx playwright install
    displayName: 'Install Playwright browsers'

  - script: |
      echo BASE_URL='https://qdtstaging.dooblo.net' >> .env
      echo USERNAME_ADMIN='$(USERNAME_ADMIN)' >> .env
      echo PASSWORD_ADMIN='$(PASSWORD_ADMIN)' >> .env
      echo TENANT1='$(TENANT1)' >> .env
    displayName: 'Create .env file'

  - script: npm run chromium
    displayName: 'Run Playwright tests'

  - task: PublishAllureReport@1
    condition: succeededOrFailed()
    displayName: "Publish Allure report"

  - script: |
      timestamp=$(date +'%Y%m%d%H%M%S')
      echo "##vso[task.setvariable variable=timestamp;isOutput=true]$timestamp"
      echo "Timestamp: $timestamp"
    displayName: 'Generate timestamp'
    name: setTimestamp

  - script: |
      echo "##vso[task.setvariable variable=artifactName;isOutput=true]playwright-report-$(Build.BuildId)-$(setTimestamp.timestamp)"
    displayName: 'Set artifact name'
    name: setArtifactName

  - task: PublishPipelineArtifact@1
    condition: succeededOrFailed()
    inputs:
      targetPath: 'playwright-report'
      artifact: '$(setArtifactName.artifactName)'
    displayName: 'Publish Playwright report'
